* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: inherit;
    font: inherit;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h5, b, strong {
    font-weight: 700;
  }
  
  .h1 {
    font-size: 38px;
    line-height: 46px;
  }
  
  h2 {
    font-size: 30px;
    line-height: 36px;
  }
  
  h3 {
    font-size: 22px;
    line-height: 26px;
  }
  
  h4 {
    font-size: 22px;
    line-height: 26px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #8b8cda; /* Общий фон для страницы */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    line-height: 26px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  
  input, textarea, button {
    font-family: inherit;
  }
  
  .container {
    max-width: 650px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #fff;
  }